/***** BASE STYLES *****/

html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2b2b2b;
  font-size: 1em;
}


/***** GRID *****/

  .full-width {
    width: 90%;
    margin: 25px 0;
  }


/***** HEADER *****/
header {
  background:url('../img/hero.png')no-repeat center #333;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

header .full-width {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0;
}

header h1 {
  font-family:'Lora', serif;
  color: #bbc085;
  font-size: 3em;
  padding: 25px 0;
}

.header-divider {
  background: #3a3a3a;
  width: 70%;
  height: 1px;
  margin: 5px 0;
}

header nav {
    padding: 25px 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-family:'source sans pro', sans-serif;
    font-size: 1.75em;
    color: #828282;
    padding-right: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

header h2 {
    width: 100%;
    font-family: 'Lora', serif;
    font-size: 4.25em;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px;
}

header h2 span {
    color: #2b2b2b;
}

/***** ABOUT *****/

aside {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding: 0 25px;
}


aside h3 {
  font-family: 'Lora', serif;
  font-size: 2.25em;
  color: #2b2b2b;
  padding: 50px 0;
  text-align: center;
}

aside p{
  font-family:'Source Sans Pro', sans-serif;
  font-size: 1.375em;
  color: #7F7F7F;
  padding: 10px 0;
  line-height: 30px;
  text-align: justify;
}

/***** WORK*****/

#work {
  background-color: #F9CEB7;
  text-align: center;
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}

#work .work-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#work article {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin: 10px 0;
    width: 75%;
}


#work h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.75em;
  color: black;
  line-height: 32px;
  margin: 0 auto;
}

#work p {
  font-family: 'Lora', serif;
  font-size: 1em;
  color: #2B2B2B;
  line-height: 30px;
  padding: 0 50px;
  text-align: center;

}


/****** CONTACT ******/

footer {
  background-color: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
}

footer .full-width {
  width: 60%;
  padding: 50px 0;

}

footer figure {
  border: 12px solid #ffffff;
  width: 90%;
}

footer h2 {
    font-family: 'Lora', serif;
    font-size: 2.25em;
}

footer #email-header{
    font-size: 2em;
    font-weight: 400;
    line-height:44px;
    padding: 5px 0;
}

footer #socialmedia-header {
  font-size: 1.75em;
  line-height: 44px;
  padding: 5px 0;
}

footer .footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
}

footer article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
}

footer .social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-icons p {
  padding: 0 20px;
  width: 40px;
  height: 40px;
}

footer a {
    text-decoration: none;
    color: #C49075;
    font-weight: bold;
    font-size: 1.75em;
}


@media only screen and (min-width: 768px) {
  /*tablets*/

header {
  justify-content: space-around;
}

header h1 {
  width: 30%;
}

header .full-width {
  justify-content: space-between;
}

.header-divider {
    display: none;
}


footer .full-width {
    flex-flow: row nowrap;
    padding: 20px 50px;
}


footer figure {
  width: 90%;
}

footer h2,
footer #email-header,
footer #contact-info,
footer #socialmedia-header {
  padding: 0 20px;
}

}

@media only screen and (min-width: 1200px) {
  /*desktop*/

header {
  width: 100%;
  align-items: flex-start;
  min-height: 600px;
}

header h1 {
  width: 100%;
}

nav ul li a {
  font-size: 1.15em;
}

aside {
    justify-content: space-around;
    padding: 0 55px;
}

aside h3 {
  padding: 0;
}


#work .work-items {
  flex-flow: row nowrap;
  align-items: flex-start;
}

#work article {
  flex-basis: 33%;
}

#work h3 {
  font-size: 1.15em;
  line-height: 40px;
}

footer .footer-info {
  flex-flow: row nowrap;
}

}
